<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Kutak dobre hrane</title>
  </head>
  <body>
    <!-- Header -->
    <header class="bg-primary text-white py-3">
      <h1>Kutak dobre hrane</h1>
    </header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav">
            <a class="nav-item btn btn-outline-primary ms-2" routerLink="/login"
              >Log in</a
            >
            <a
              class="nav-item btn btn-outline-primary ms-2"
              routerLink="/signup"
              >Sign up</a
            >
          </div>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <main class="container-fluid d-flex flex-column justify-content-start">
      <div class="container">
        <!-- General data row -->
        <div class="row">
          <div class="col-md text-center ">
            <p class="text-nowrap">Restaurants: {{number_of_restaurants}}</p>
          </div>
          <div class="col-md text-center ">
            <p class="text-nowrap">Registered guests: {{number_of_guests}}</p>
          </div>
          <div class="col-md text-center ">
            <p class="text-nowrap">Reservations in  past 24 hours: </p>
          </div>
          <div class="col-md text-center ">
            <p class="text-nowrap">Reservations in  past week:</p>
          </div>
          <div class="col-md text-center ">
            <p class="text-nowrap">Reservations in  past month: </p>
          </div>
        </div>
        <!-- Table row -->
         <div class="row">
          
         </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-white py-3 mt-4">
      <p>&copy; 2024 Marko Jovanovic</p>
    </footer>
  </body>
</html>
