node_modules/
dist/
.vscode/
.editorconfig
.angular/
certificates/ca-cert.pem
certificates/ca-key.pem
certificates/server-cert.pem
certificates/ca-cert.srl
certificates/server-csr.pem
certificates/server-key.pem
