<body>
  <!-- Header -->
  <header class="bg-primary text-white py-3">
    <h1>Kutak dobre hrane</h1>
  </header>

  <!-- Main Content -->
  <main class="content">
    <div id="map" style="height: 500px; width: 100%;"></div>
    <div class="row">
      <div class="col-md-12">
        <p>{{restaurant.name}}</p>
        <p>{{restaurant.address.street}} {{restaurant.address.number}} </p>
        <p>{{restaurant.email}}</p>
        <p>{{restaurant.open}} - {{restaurant.close}}</p>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="bg-dark text-white py-3 mt-4">
    <div class="container">
      <p>&copy; 2024 Marko Jovanovic</p>
    </div>
  </footer>
</body>
