<body>
    <!-- Header -->
    <header class="bg-primary text-white py-3">
        <h1>Kutak dobre hrane</h1>
    </header>

    <!-- Main Content -->
    <main class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div id="map" style="height: 400px; width: 100%"></div>
                </div>
                <div class="row">
                    <p>{{ restaurant.name }}</p>
                    <p>
                        {{ restaurant.address.street }}
                        {{ restaurant.address.number }}
                    </p>
                    <p>{{ restaurant.email }}</p>
                    <p>{{ restaurant.open }} - {{ restaurant.close }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Insert a form for reservation here -->
                <div class="row ">
                    <div class="col-md-12">
                        <p>Make a reservation</p>

                    </div>
                </div>
                {{ reservationForm.value | json }}

                <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-12">
                            <canvas
                                #restaurantPlanCanvas
                                id="restaurantPlanCanvas"
                                width="500"
                                height="400"
                                style="border: 1px solid #000000"
                                (mousemove)="onCanvasMouseMove($event)"
                                (mouseleave)="onCanvasMouseLeave()"
                                (click)="onMouseClick($event)"
                            >
                                ></canvas
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p-calendar
                                inputId="calendar-24h"
                                formControlName="datetime"
                                [showTime]="true"
                                [hourFormat]="'24'"
                                [showIcon]="true"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button
                              pButton
                              type="submit"
                              label="Proceed"
                              severity="contrast"
                              [disabled]="reservationForm.invalid"
                            ></button>
                        </div>
                    </div>
                    
                    
                </form>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-white py-3 mt-4">
        <div class="container">
            <p>&copy; 2024 Marko Jovanovic</p>
        </div>
    </footer>
</body>
