<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Kutak dobre hrane</title>
  </head>
  <body> 
    <!-- Header -->
    <header class="bg-primary text-white py-3">
      <h1>Kutak dobre hrane</h1>
    </header>

    <!-- Main Content -->
    <main
      class="container d-flex flex-column justify-content-center align-items-center"
    >
        <div class="container">
          <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
            <div class="mb-3">
              <span class="p-float-label">
                <input
                  id="username"
                  type="text"
                  pInputText
                  formControlName="username"
                  placeholder=" "
                />
                <label
                  for="username"
                  *ngIf="!username?.invalid || !username?.touched"
                  >Username</label
                >
                <small
                  class="p-error"
                  *ngIf="username?.invalid && username?.touched"
                  >Username is required.</small
                >
              </span>
            </div>

            <div class="mb-3">
              <span class="p-float-label">
                <input
                  id="oldPassword"
                  type="password"
                  pPassword
                  formControlName="passwoldPasswordord"
                  placeholder=" "
                />
                <label
                  for="oldPassword"
                  *ngIf="!oldPassword?.invalid || !oldPassword?.touched"
                  >Old password</label
                >
                <small
                  class="p-error"
                  *ngIf="oldPassword?.invalid && oldPassword?.touched"
                  >Old password is required.</small
                >
              </span>
            </div>

            <div class="mb-3">
              <span class="p-float-label">
                <input
                  id="newPassword"
                  type="password"
                  pPassword
                  formControlName="newPassword"
                  placeholder=" "
                />
                <label
                  for="newPassword"
                  *ngIf="!newPassword?.invalid || !newPassword?.touched"
                  >New password</label
                >
                <small
                  class="p-error"
                  *ngIf="newPassword?.invalid && newPassword?.touched"
                  >New password is required.</small
                >
              </span>
            </div>

            <div class="mb-3">
              <span class="p-float-label">
                <input
                  id="newPasswordRepeat"
                  type="password"
                  pPassword
                  formControlName="newPasswordRepeat"
                  placeholder=" "
                />
                <label
                  for="newPasswordRepeat"
                  *ngIf="!newPasswordRepeat?.invalid || !newPasswordRepeat?.touched"
                  >Repeat new password</label
                >
                <small
                  class="p-error"
                  *ngIf="newPasswordRepeat?.invalid && newPasswordRepeat?.touched"
                  >Repeating new password is required.</small
                >
              </span>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button
                  pButton
                  type="submit"
                  label="Change password"
                  severity="contrast"
                  [disabled]="changePasswordForm.invalid"
                ></button>
              </div>
            </div>
          </form>
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-white py-3 mt-4">
      <p>&copy; 2024 Marko Jovanovic</p>
    </footer>
  </body>
</html>
