<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kutak dobre hrane</title>
  </head>
  <body>
    <!-- Header -->
    <header class="bg-primary text-white py-3">
      <h1>Kutak dobre hrane</h1>
    </header>

    <!-- Main Content -->

    <main
      class="container d-flex flex-column justify-content-center align-items-center"
    >
      <div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-12">
              {{ signUpForm.value | json }}

              <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-6">
                    <span class="p-float-label">
                      <input
                        id="firstname"
                        type="text"
                        pInputText
                        formControlName="firstname"
                        placeholder=" "
                      />
                      <label
                        for="firstname"
                        *ngIf="!firstname?.invalid || !firstname?.touched"
                        >Firstname</label
                      >
                      <small
                        class="p-error"
                        *ngIf="firstname?.invalid && firstname?.touched"
                        >Firstname is required.</small
                      >
                    </span>
                  </div>
                  <div class="col-md-6">
                    <span class="p-float-label">
                      <input
                        id="lastname"
                        type="text"
                        pInputText
                        formControlName="lastname"
                        placeholder=" "
                      />
                      <label
                        for="lastname"
                        *ngIf="!lastname?.invalid || !lastname?.touched"
                        >Lastname</label
                      >
                      <small
                        class="p-error"
                        *ngIf="lastname?.invalid && lastname?.touched"
                        >Lastname is required.</small
                      >
                    </span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <span class="p-float-label">
                      <input
                        id="username"
                        type="text"
                        pInputText
                        formControlName="username"
                        placeholder=" "
                      />
                      <label
                        for="username"
                        *ngIf="!username?.invalid || !username?.touched"
                        >Username</label
                      >
                      <small
                        class="p-error"
                        *ngIf="username?.invalid && username?.touched"
                        >Username is required.</small
                      >
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <span class="p-float-label">
                      <input
                        id="password"
                        type="password"
                        pPassword
                        formControlName="password"
                        placeholder=" "
                      />
                      <label
                        for="password"
                        *ngIf="!password?.invalid || !password?.touched"
                        >Password</label
                      >
                      <small
                        class="p-error"
                        *ngIf="password?.invalid && password?.touched"
                        >Password is required.</small
                      >
                    </span>
                  </div>
                </div>

                <div formGroupName="address">
                  <div class="row">
                    <div class="col-md-4">
                      <span class="p-float-label">
                        <input
                          id="street"
                          type="text"
                          pInputText
                          formControlName="street"
                          placeholder=" "
                        />
                        <label
                          for="street"
                          *ngIf="!street?.invalid || !street?.touched"
                          >Street</label
                        >
                        <small
                          class="p-error"
                          *ngIf="street?.invalid && street?.touched"
                          >Street is required and should match the
                          pattern.</small
                        >
                      </span>
                    </div>
                    <div class="col-md-4">
                      <span class="p-float-label">
                        <input
                          id="number"
                          type="text"
                          pInputText
                          formControlName="number"
                          placeholder=" "
                        />
                        <label
                          for="number"
                          *ngIf="!number?.invalid || !number?.touched"
                          >Number</label
                        >
                        <small
                          class="p-error"
                          *ngIf="number?.invalid && number?.touched"
                          >Number is required and should match the
                          pattern.</small
                        >
                      </span>
                    </div>
                    <div class="col-md-4">
                      <span class="p-float-label">
                        <input
                          id="city"
                          type="text"
                          pInputText
                          formControlName="city"
                          placeholder=" "
                        />
                        <label
                          for="city"
                          *ngIf="!city?.invalid || !city?.touched"
                          >City</label
                        >
                        <small
                          class="p-error"
                          *ngIf="city?.invalid && city?.touched"
                          >City is required.</small
                        >
                      </span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <span class="p-float-label">
                      <input
                        id="email"
                        type="email"
                        pInputText
                        formControlName="email"
                        placeholder=" "
                      />
                      <label
                        for="email"
                        *ngIf="!email?.invalid || !email?.touched"
                        >E-mail</label
                      >
                      <small
                        class="p-error"
                        *ngIf="email?.invalid && email?.touched"
                        >E-mail is required.</small
                      >
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <span class="p-float-label">
                      <input
                        id="phone_number"
                        type="text"
                        pInputText
                        formControlName="phone_number"
                        placeholder=" "
                      />
                      <label
                        for="phone_number"
                        *ngIf="!phone_number?.invalid || !phone_number?.touched"
                        >Phone number</label
                      >
                      <small
                        class="p-error"
                        *ngIf="phone_number?.invalid && phone_number?.touched"
                        >Phone number is required.</small
                      >
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <span class="p-float-label">
                      <input
                        id="credit_card_number"
                        type="text"
                        pInputText
                        formControlName="credit_card_number"
                        placeholder=" "
                      />
                      <label
                        for="username"
                        *ngIf="
                          !credit_card_number?.invalid ||
                          !credit_card_number?.touched
                        "
                        >Credit card number</label
                      >
                      <small
                        class="p-error"
                        *ngIf="
                          credit_card_number?.invalid &&
                          credit_card_number?.touched
                        "
                        >Credit card number is required.</small
                      >
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <span>
                      <label for="plan">Profile photo</label>
              
                      <p-fileUpload
                        mode="basic"
                        name="demo[]"
                        chooseLabel="Choose"
                        chooseIcon="pi pi-upload"
                        url="https://www.primefaces.org/cdn/api/upload.php"
                        accept=".json"
                        maxFileSize="1000000"
                        (onSelect)="onFileSelected($event)"
                      ></p-fileUpload>

                    </span>
                  </div>
                </div>
                <div class="row"> 
                  <div class="col-md-12">
                    <button
                      pButton
                      type="submit"
                      label="Sign up"
                      severity="contrast"
                      [disabled]="signUpForm.invalid"
                    ></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-white py-3 mt-4">
      <p>&copy; 2024 Marko Jovanovic</p>
    </footer>
  </body>
</html>
