<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kutak dobre hrane</title>
  </head>
  <body>
    <!-- Header -->
    <header class="bg-primary text-white py-3">
      <h1>Kutak dobre hrane</h1>
    </header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
          <div
            class="btn-group"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio1"
              autocomplete="off"
              [(ngModel)]="selectedOption"
              value="restaurants"
              
            />
            <label class="btn btn-outline-primary" for="btnradio1"
              >Restaurants</label
            >

            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio2"
              autocomplete="off"
              [(ngModel)]="selectedOption"
              value="waiters"
              (click)="onNavRadioChange()"
            />
            <label class="btn btn-outline-primary" for="btnradio2"
              >Waiters</label
            >

            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio3"
              autocomplete="off"
              [(ngModel)]="selectedOption"
              value="guests"
              (click)="onNavRadioChange()"
            />
            <label class="btn btn-outline-primary" for="btnradio3"
              >Guests</label
            >
            <button type="button" class="btn btn-outline-primary" (click)="logout()">Log out</button>
          </div>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <main
      class="container d-flex flex-column justify-content-center align-items-center"
    >
      <div>
        <div *ngIf="selectedOption === 'restaurants'">
          <div class="row">
            <div class="col-md-6">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Show</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Phone number</th>
                    <th>Address</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let row of restaurants; let i = index">
                    <tr>
                      <td>
                        <input
                          class="form-check-input"
                          type="radio"
                          id="flexCheckDefault{{ i }}"
                          name="radioGroup"
                          [checked]="isRestaurantChecked(row.name)"
                          [value]="row.name"
                          (change)="onRestaurantRadioChange(row.name)"
                        />
                      </td>
                      <td>{{ row.name }}</td>
                      <td>{{ row.type }}</td>
                      <td>{{ row.phone_number }}</td>
                      <td>{{ row.address }}</td>
                      <td>{{ row.location }}</td>
                    </tr>
                    <tr *ngIf="selected_restaurant === row.name">
                      <td colspan="6">
                        <canvas
                          id="floorPlanCanvas"
                          width="500"
                          height="400"
                          style="border: 1px solid #000000"
                        ></canvas>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <form (ngSubmit)="onSubmitRestaurant(); restaurant_form.resetForm()" #restaurant_form="ngForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="name" class="form-label">Name:</label>
                      <input
                        type="text"
                        id="name"
                        class="form-control"
                        required
                        [(ngModel)]="newRestaurant.name"
                        name="name"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="address" class="form-label">Address:</label>
                      <input
                        type="text"
                        id="address"
                        class="form-control"
                        required
                        [(ngModel)]="newRestaurant.address"
                        name="address"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="type" class="form-label">Type:</label>
                      <select
                        id="type"
                        class="form-select"
                        required
                        [(ngModel)]="newRestaurant.type"
                        name="type"
                      >
                        <option value="" disabled selected>
                          Select a type
                        </option>
                        <option
                          *ngFor="let type of restaurant_types"
                          [value]="type.name"
                        >
                          {{ type.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="phone_number" class="form-label"
                        >Phone number:</label
                      >
                      <input
                        type="text"
                        id="phone_number"
                        class="form-control"
                        required
                        [(ngModel)]="newRestaurant.phone_number"
                        name="phone_number"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="email" class="form-label">Email:</label>
                      <input
                        type="email"
                        id="email"
                        class="form-control"
                        required
                        [(ngModel)]="newRestaurant.email"
                        name="email"
                      />
                      <div
                        class="alert alert-danger"
                        role="alert"
                        *ngIf="restaurant_form_flags.invalid_email"
                      >
                        Invalid email
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="location" class="form-label">Location:</label>
                      <input
                        type="text"
                        id="location"
                        class="form-control"
                        required
                        [(ngModel)]="newRestaurant.location"
                        name="location"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label for="inputGroupFile02">Floor plan</label>
                    <input
                      type="file"
                      class="form-control"
                      id="inputGroupFile02"
                      (change)="onFileSelected($event)"
                    />
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="description" class="form-label"
                        >Description:</label
                      >
                      <textarea
                        id="description"
                        class="form-control"
                        required
                        [(ngModel)]="newRestaurant.description"
                        name="description"
                        rows="4"
                      ></textarea>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <button
                      type="submit"
                      class="btn btn-dark"
                      [disabled]="!restaurant_form.form.valid"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="selectedOption === 'waiters'" class="container">
        <div class="row">
          <div class="col-md-6">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Username</th>
                  <th>Phone number</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of waiters; let i = index">
                  <td>{{ row.firstname }}</td>
                  <td>{{ row.lastname }}</td>
                  <td>{{ row.username }}</td>
                  <td>{{ row.phone_number }}</td>
                  <td>{{ row.email }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Form on the right -->
          <div class="col-md-6">
            <form (ngSubmit)="onSubmitWaiter(); waiter_form.resetForm()" #waiter_form="ngForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="firstname" class="form-label"
                      >First Name:</label
                    >
                    <input
                      type="text"
                      id="firstname"
                      class="form-control"
                      required
                      [(ngModel)]="newWaiter.firstname"
                      name="firstname"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="lastname" class="form-label">Last Name:</label>
                    <input
                      type="text"
                      id="lastname"
                      class="form-control"
                      required
                      [(ngModel)]="newWaiter.lastname"
                      name="lastname"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input
                      type="text"
                      id="username"
                      class="form-control"
                      required
                      [(ngModel)]="newWaiter.username"
                      name="username"
                    />
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="waiter_form_flags.username_taken"
                    >
                      There already exists a user with this username
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      required
                      [(ngModel)]="newWaiter.password"
                      name="password"
                    />
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="waiter_form_flags.invalid_password"
                    >
                      Invalid password
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="securityQuestion" class="form-label"
                      >Security question:</label
                    >
                    <select
                      id="securityQuestion"
                      class="form-select"
                      required
                      [(ngModel)]="newWaiter.security_question"
                      name="securityQuestion"
                    >
                      <option value="" disabled selected>
                        Select a security question
                      </option>
                      <option value="What is your mother's maiden name?">
                        What is your mother's maiden name?
                      </option>
                      <option value="What city were you born in?">
                        What city were you born in?
                      </option>
                      <option value="What is the name of your first pet?">
                        What is the name of your first pet?
                      </option>
                      <!-- Add more options as needed -->
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="security_question_answer" class="form-label"
                      >Answer:</label
                    >
                    <input
                      type="text"
                      id="security_question_answer"
                      class="form-control"
                      required
                      [(ngModel)]="newWaiter.security_question_answer"
                      name="security_question_answer"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input
                      type="email"
                      id="email"
                      class="form-control"
                      required
                      [(ngModel)]="newWaiter.email"
                      name="email"
                    />
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="waiter_form_flags.invalid_email"
                    >
                      Invalid E-mail
                    </div>
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="waiter_form_flags.email_taken"
                    >
                      There is a user registered with this email
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="address" class="form-label">Address:</label>
                    <input
                      type="text"
                      id="address"
                      class="form-control"
                      required
                      [(ngModel)]="newWaiter.address"
                      name="address"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="phone_number" class="form-label"
                      >Phone number:</label
                    >
                    <input
                      type="text"
                      id="phone_number"
                      class="form-control"
                      required
                      [(ngModel)]="newWaiter.phone_number"
                      name="phone_number"
                    />
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="waiter_form_flags.invalid_password"
                    >
                      Invalid phone number
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="inputGroupFile02">Profile photo:</label>
                    <input
                      type="file"
                      class="form-control"
                      id="inputGroupFile02"
                      (change)="onFileSelected($event)"
                    />
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="waiter_form_flags.invalid_picture_format"
                    >
                      Image has to be either .png or .jpg
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Gender:</label><br />
                    <div class="form-check form-check-inline">
                      <input
                        type="radio"
                        id="male"
                        class="form-check-input"
                        name="gender"
                        [(ngModel)]="newWaiter.gender"
                        value="male"
                        required
                      />
                      <label for="male" class="form-check-label">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        type="radio"
                        id="female"
                        class="form-check-input"
                        name="gender"
                        [(ngModel)]="newWaiter.gender"
                        value="female"
                        required
                      />
                      <label for="female" class="form-check-label"
                        >Female</label
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="restaurantSelect">Select Restaurant:</label>
                    <select
                      id="restaurantSelect"
                      name="restaurant"
                      class="form-control"
                      [(ngModel)]="newWaiter.restaurant"
                    >
                      <option
                        *ngFor="let restaurant of restaurants"
                        [value]="restaurant.name"
                      >
                        {{ restaurant.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button
                    type="submit"
                    class="btn btn-dark"
                    [disabled]="!waiter_form.form.valid"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="waiter_form_flags.general_errors"
            >
              Error adding waiter
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="selectedOption === 'guests'">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Username</th>
              <th>Phone number</th>
              <th>Email</th>
              <th>Credit card number</th>

              <th>Status</th>
              <th>Change status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of guests; let i = index">
              <td>{{ row.firstname }}</td>
              <td>{{ row.lastname }}</td>
              <td>{{ row.username }}</td>
              <td>{{ row.phone_number }}</td>
              <td>{{ row.email }}</td>
              <td>{{ row.credit_card_number }}</td>

              <td>{{ row.status }}</td>
              <td>
                <form
                  (ngSubmit)="updateStatus(row, i)"
                  #guestStatusForm="ngForm"
                >
                  <div class="d-flex align-items-center">
                    <select
                      id="status-{{ i }}"
                      class="form-select"
                      required
                      [(ngModel)]="new_guest_statuses[i]"
                      name="status-{{ i }}"
                      required
                    >
                      <option value="" disabled>Select a status</option>
                      <option value="Active">Active</option>
                      <option value="Rejected">Rejected</option>
                      <option value="Banned">Banned</option>
                      <option value="Deactivated">Deactivated</option>
                    </select>
                    <button
                      type="submit"
                      class="btn btn-primary"
                      [disabled]="!guestStatusForm.form.valid"
                    >
                      Change
                    </button>
                  </div>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-white py-3 mt-4">
      <p>&copy; 2024 Marko Jovanovic</p>
    </footer>
  </body>
</html>
