<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Username</th>
          <th>Phone number</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let waiter of waiters; let i = index">
          <td>{{ waiter.firstname }}</td>
          <td>{{ waiter.lastname }}</td>
          <td>{{ waiter.username }}</td>
          <td>{{ waiter.phone_number }}</td>
          <td>{{ waiter.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <form [formGroup]="waiterForm" (ngSubmit)="onSubmit()" class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="p-float-label">
            <input id="username" pInputText formControlName="username" class="form-control" />
            <label for="username">Username</label>
          </div>
          <div *ngIf="username?.invalid && username?.touched" class="p-error">
            Username is required.
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="p-float-label">
            <input id="password" pPassword formControlName="password" class="form-control" />
            <label for="password">Password</label>
          </div>
          <div *ngIf="password?.invalid && password?.touched" class="p-error">
            Password is required and must match the specified pattern.
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="p-float-label">
            <input id="email" pInputText formControlName="email" class="form-control" />
            <label for="email">Email</label>
          </div>
          <div *ngIf="email?.invalid && email?.touched" class="p-error">
            A valid email is required.
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="p-float-label">
            <input id="firstname" pInputText formControlName="firstname" class="form-control" />
            <label for="firstname">First Name</label>
          </div>
          <div *ngIf="firstname?.invalid && firstname?.touched" class="p-error">
            First name is required.
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="p-float-label">
            <input id="lastname" pInputText formControlName="lastname" class="form-control" />
            <label for="lastname">Last Name</label>
          </div>
          <div *ngIf="lastname?.invalid && lastname?.touched" class="p-error">
            Last name is required.
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="p-float-label">
            <p-dropdown id="gender" [options]="['Male', 'Female']" formControlName="gender" class="form-control"></p-dropdown>
            <label for="gender">Gender</label>
          </div>
          <div *ngIf="gender?.invalid && gender?.touched" class="p-error">
            Gender is required.
          </div>
        </div>
      </div>
    
      <!-- Address Form -->
      <div formGroupName="address" class="row">
        <div class="col-12 col-md-6">
          <div class="p-float-label">
            <input id="street" pInputText formControlName="street" class="form-control" />
            <label for="street">Street</label>
          </div>
          <div *ngIf="street?.invalid && street?.touched" class="p-error">
            Street is required and must match the specified pattern.
          </div>
        </div>
    
        <div class="col-12 col-md-6">
          <div class="p-float-label">
            <input id="number" pInputText formControlName="number" class="form-control" />
            <label for="number">Number</label>
          </div>
          <div *ngIf="number?.invalid && number?.touched" class="p-error">
            Number is required and must match the specified pattern.
          </div>
        </div>
    
        <div class="col-12 col-md-6">
          <div class="p-float-label">
            <input id="city" pInputText formControlName="city" class="form-control" />
            <label for="city">City</label>
          </div>
          <div *ngIf="city?.invalid && city?.touched" class="p-error">
            City is required.
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="p-float-label">
            <input id="phone_number" pInputText formControlName="phone_number" class="form-control" />
            <label for="phone_number">Phone Number</label>
          </div>
          <div *ngIf="phone_number?.invalid && phone_number?.touched" class="p-error">
            Phone number is required and must match the specified pattern.
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="p-float-label">
            <p-dropdown id="restaurant" [options]="restaurants" optionLabel="name" formControlName="restaurant" class="form-control"></p-dropdown>
            <label for="restaurant">Restaurant</label>
          </div>
          <div *ngIf="restaurant?.invalid && restaurant?.touched" class="p-error">
            Restaurant is required.
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-12 col-md-6">
          <span>
            <label for="plan">Profile photo</label>
    
            <p-fileUpload
              mode="basic"
              name="demo[]"
              chooseLabel="Choose"
              chooseIcon="pi pi-upload"
              url="https://www.primefaces.org/cdn/api/upload.php"
              accept=".json"
              maxFileSize="1000000"
              (onSelect)="onFileSelected($event)"
            ></p-fileUpload>

          </span>
        </div>
      </div>
    
      <div class="row">
        <div class="col-12">
          <button pButton type="submit" label="Submit" [disabled]="waiterForm.invalid" severity="contrast"></button>
        </div>
      </div>
    </form>
    
  </div>
</div>
