<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Username</th>
          <th>Phone number</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let waiter of waiters; let i = index">
          <td>{{ waiter.firstname }}</td>
          <td>{{ waiter.lastname }}</td>
          <td>{{ waiter.username }}</td>
          <td>{{ waiter.phone_number }}</td>
          <td>{{ waiter.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <form
      (ngSubmit)="onSubmitWaiter(); waiter_form.resetForm()"
      #waiter_form="ngForm"
    >
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="firstname" class="form-label">First Name:</label>
            <input
              type="text"
              id="firstname"
              class="form-control"
              required
              [(ngModel)]="new_waiter.firstname"
              name="firstname"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="lastname" class="form-label">Last Name:</label>
            <input
              type="text"
              id="lastname"
              class="form-control"
              required
              [(ngModel)]="new_waiter.lastname"
              name="lastname"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input
              type="text"
              id="username"
              class="form-control"
              required
              [(ngModel)]="new_waiter.username"
              name="username"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="waiter_form_flags.username_taken"
            >
              There already exists a user with this username
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input
              type="password"
              id="password"
              class="form-control"
              required
              [(ngModel)]="new_waiter.password"
              name="password"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="waiter_form_flags.invalid_password"
            >
              Invalid password
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="securityQuestion" class="form-label"
              >Security question:</label
            >
            <select
              id="securityQuestion"
              class="form-select"
              required
              [(ngModel)]="new_waiter.security_question"
              name="securityQuestion"
            >
              <option value="" disabled selected>
                Select a security question
              </option>
              <option value="What is your mother's maiden name?">
                What is your mother's maiden name?
              </option>
              <option value="What city were you born in?">
                What city were you born in?
              </option>
              <option value="What is the name of your first pet?">
                What is the name of your first pet?
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="security_question_answer" class="form-label"
              >Answer:</label
            >
            <input
              type="text"
              id="security_question_answer"
              class="form-control"
              required
              [(ngModel)]="new_waiter.security_question_answer"
              name="security_question_answer"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input
              type="email"
              id="email"
              class="form-control"
              required
              [(ngModel)]="new_waiter.email"
              name="email"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="waiter_form_flags.invalid_email"
            >
              Invalid E-mail
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="waiter_form_flags.email_taken"
            >
              There is a user registered with this email
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="address" class="form-label">Address:</label>
            <input
              type="text"
              id="address"
              class="form-control"
              required
              [(ngModel)]="new_waiter_address.street"
              name="address"
            />
            <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="waiter_form_flags.invalid_address"
                    >
                      Invalid address
                    </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="phone_number" class="form-label">Phone number:</label>
            <input
              type="text"
              id="phone_number"
              class="form-control"
              required
              [(ngModel)]="new_waiter.phone_number"
              name="phone_number"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="waiter_form_flags.invalid_password"
            >
              Invalid phone number
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="inputGroupFile02">Profile photo:</label>
            <input
              type="file"
              class="form-control"
              id="inputGroupFile02"
              (change)="onFileSelected($event)"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="waiter_form_flags.invalid_picture_format"
            >
              Image has to be either .png or .jpg
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Gender:</label><br />
            <div class="form-check form-check-inline">
              <input
                type="radio"
                id="male"
                class="form-check-input"
                name="gender"
                [(ngModel)]="new_waiter.gender"
                value="male"
                required
              />
              <label for="male" class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                type="radio"
                id="female"
                class="form-check-input"
                name="gender"
                [(ngModel)]="new_waiter.gender"
                value="female"
                required
              />
              <label for="female" class="form-check-label">Female</label>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="restaurantSelect">Select Restaurant:</label>
            <select
              id="restaurantSelect"
              name="restaurant"
              class="form-control"
              [(ngModel)]="new_waiter.restaurant"
            >
              <option
                *ngFor="let restaurant of restaurants"
                [value]="restaurant.name"
              >
                {{ restaurant.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button
            type="submit"
            class="btn btn-dark"
            [disabled]="!waiter_form.form.valid"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="waiter_form_flags.general_errors"
    >
      Error adding waiter
    </div>
  </div>
</div>
